<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profolio UX UI Desing - Juan Cruz Carreño Mendoza</title>
    <!--Aos-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../media.css">
</head>
<body>
    <!--fila de logo + nav-->
<header class="header">
    <img class="burger" src="../imagenes/icono burger.png" alt="">
    <nav class="menu">
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="#" class="menu-active">SKILLS</a></li>
                <li><a href="certificados .html">CERTIFICADOS</a></li>
                <li><a href="proyectos .html">PROYECTOS</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>
<!-- cierre de fila logo + nav -->
<main>
        <div class="titulo">
            <h2> Skills - Herramientas </h2>
        </div>
    <section class="skills" data-aos="fade-up"
    data-aos-duration="3000">
        <div class="imgskills">
            <img class="img" src="../imagenes/logofigma.png" alt="logo figma">
        </div>
        <div class="textoskills">
            <h2>Figma</h2>
            <p>
            Herramienta con la que diseño pantallas de sitios web, 
            aplicaciones móviles y cualquier otra interfaz gráfica 
            interactiva.
            Creación de vectores, edición de imagenes y creación de 
            protoripos intercativos. 
            </p>
        </div>
    </section>
    <section class="skills" data-aos="fade-up" data-aos-duration="3000">
            <div class="textoskills">
                <h2>Adobe Xd</h2>
                <p>
                Herramienta con la que diseño pantallas de sitios web, 
                aplicaciones móviles y cualquier otra interfaz gráfica 
                interactiva.
                Creación de vectores, edición de imagenes y creación de 
                protoripos intercativos. 
                </p>
            </div>
            <div class="imgskills">
                <img class="img" src="../imagenes/logoxd.png" alt="logo xd">
            </div>
    </section>
    <section class="skills" data-aos="fade-up"
    data-aos-duration="3000">
        <div class="imgskills">
            <img class="img" src="../imagenes/logohtml.png" alt="logo html">
        </div>
        <div class="textoskills">
            <h2>HTML</h2>
            <p>
            Lenguaje de Marcado de Hipertexto
            La más destacada es la posibilidad de añadir 
            archivos multimedia a la web, como vídeos o 
            audios, y que estos no tengas que insertarlos
            utilizando otros plug-ins. Todo está incluido
            dentro del código
            </p>
        </div>
    </section>
    <section class="skills" data-aos="fade-up"
    data-aos-duration="3000">
        <div class="textoskills">
            <h2>CSS</h2>
            <p>
            Lenguaje informático que especifica cómo se 
            presentan los documentos a los usuarios: cómo 
            se diseñan, compaginan, etc. Un documento suele
            ser un archivo de texto estructurado con un lenguaje
            de marcado: HTML
            </p>
        </div>
        <div class="imgskills">
            <img class="img" src="../imagenes/logocss.png" alt="logo css">
        </div>
    </section>
    <section class="skills" data-aos="fade-up"
    data-aos-duration="3000">
        <div class="imgskills">
            <img class="img" src="../imagenes/logo Ai.png" alt="logo Ai">
        </div>
        <div class="textoskills">
            <h2>Adobe Illustrator</h2>
            <p>
            Herramienta de diseño y creación de vectores.
            - Creación de logos 
            - Creación de Identidad de empresas o marcas 
            - Producción de piezas graficas 
            - Ilustarciones 
            </p>
        </div>
    </section>
    <section class="skills" data-aos="fade-up"
    data-aos-duration="3000">
        <div class="textoskills">
            <h2>Adobe Photoshop</h2>
            <p>
            Herramienta de diseño y edición fotográfica
            -Modificación de imágenes y fotográfias digitales
            - Diseño de logotipos, afiches y anuncios  
            - Creación de piezas graficas para resdes sociales
            - Ilustraciones
            </p>
        </div>
        <div class="imgskills">
            <img class="img" src="../imagenes/logops.png" alt="logo psd">
        </div>
    </section>
    <section class="skills" data-aos="fade-up"
    data-aos-duration="3000">
        <div class="imgskills">
            <img class="img" src="../imagenes/logoae.png" alt="logo Ae">
        </div>
        <div class="textoskills">
            <h2>Adobe After Effects</h2>
            <p>
                herramienta de diseño y animación para generar efectos visuales 
                y composición de imágenes en movimiento (videos)
                - Animaciones de logos 
                - Videos narrativos 
                - Videos empresariales
            </p>
        </div>
    </section>
</main>
<footer class="footer" id="footer">
    <h4> © - Desarrollado por Juan Cruz Carreño Mendoza</h4>
    <ul class="footer">
        <li><a href="https://www.behance.net/juancrcarreo"><img class="imagenfooter" src="../imagenes/logo behanca.png"> </a></li>
        <li><a href="https://www.linkedin.com/in/juan-cruz-carre%C3%B1o-mendoza/"><img class="imagenfooter" src="../imagenes/logo linkedin.png"></a></li>
    </ul> 
</footer>
<script src="../js/main.js"></script>
<script>
        // Efecto scroll - Header
        window.addEventListener('scroll', () => {
            const header = document.querySelector('header')
            const about = document.querySelector('.hero__about')
            header.classList.toggle('header-scroll', window.scrollY > 0)
            about.classList.toggle('hero__about-scroll', window.scrollY > 100)
            
        })
</script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>